<mat-toolbar color="primary">Live Kotlin Questions</mat-toolbar>
<div class="row columns container">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="question" *ngIf="(user | async)?.uid" placeholder="Let's question in?" (keyup.enter)="Send($event.target.value)" required [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="./src/kotlin.png" width="30px" height="30px">{{item.question}}</p>
  </div>
</div>